.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: green;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow-y: auto;
  z-index: 1;
  min-height: 100%;
}

.page-title {
  font-size: 60px;
  color: whitesmoke;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .page-container {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  .page-container {
    height: 70vh;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  /* border-radius: 4px; */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}